// Main colors
$primary:   #112a36;
$secondary: #071821;
$accent:    #1c3c4c;
$font-color: #fff;
$button-color: #7352ac;
$button-hover: #8468b6;

// Sizes
$font-size-mobile: 20px;
$font-size-tablet: 22px;
$font-size: 24px;
$spacing-mobile: 14px;
$spacing-tablet: 15px;
$spacing: 16px;
$spacing-small: 0.5rem;
$border-radius: 6px;