@use 'normalize';
@use 'variables';
@use 'mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background-color: variables.$primary;
width: 100%;
min-height: 100vh;
display: flex; 
justify-content: center;
align-items: center;

    .generator {
        background-color: variables.$secondary; 
        border-radius: variables.$border-radius;
        width: min(90vw, 30rem);
        max-height: fit-content;
        display: flex;
        flex-direction: column;
        gap: variables.$spacing-small;

        @include mixins.tablet {
            width: 85%;
        }

        @include mixins.mobile {
            width: 100%;
        }
        

        &__title {
            font-size: 32px;
            color: variables.$font-color;
            text-align: center;
            margin-top: variables.$spacing;

            @include mixins.tablet {
                font-size: 26px;
                margin-top: variables.$spacing-tablet;
            }

            @include mixins.mobile {
                font-size: 24px;
                margin-top: variables.$spacing-mobile;
            }
        }

        &__output-wrapper {
            @include mixins.card(variables.$accent, variables.$spacing, variables.$border-radius);

            @include mixins.tablet {
                margin-left: variables.$spacing-tablet;
                margin-right: variables.$spacing-tablet;
                padding: variables.$spacing-tablet;
            }
            
            @include mixins.mobile {
                margin-left: variables.$spacing-mobile;
                margin-right: variables.$spacing-mobile;
                padding: variables.$spacing-mobile;
            }
        }

        .strength-weak { border: 3px solid #ff0000;}

        .strength-medium { border: 3px solid #ffdd66; }
        
        .strength-strong { border: 3px solid #66cc66; }

        &__output {
            @include mixins.text(variables.$font-size, variables.$font-color);
            display: flex;
            flex-direction: row;
            gap: variables.$spacing-small;
            justify-content: space-between;
            align-items: center;

            @include mixins.tablet {
                font-size: variables.$font-size-tablet;
            }

            @include mixins.mobile {
                font-size: variables.$font-size-mobile;
            }
        }

        &__password-text {
            white-space: nowrap;
            overflow-x: auto;
            scrollbar-width: none;
        }

        &__copy-button {
            background: transparent;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        &__validation-text {
            @include mixins.text(variables.$font-size, variables.$font-color);
            font-weight: bold;
            margin-left: variables.$spacing;

            @include mixins.tablet {
                font-size: variables.$font-size-tablet;
            }

            @include mixins.mobile {
                font-size: variables.$font-size-mobile;
            }
        }

        .text-weak { color: #ff0000; }

        .text-medium { color: #ffdd66; }

        .text-strong { color: #66cc66; }

        &__label {
            font-size: 16px;
            font-weight: bold;
            color: #666171;
            margin-left: variables.$spacing;

            @include mixins.tablet {
                font-size: 14px;
            }

            @include mixins.mobile {
                font-size: 12px;
            }

            .generator__length {
                color: variables.$font-color;
            }
        }

        &__slider-section {
            @include mixins.card(variables.$accent, variables.$spacing, variables.$border-radius);
            display: flex;
            flex-direction: row;
            gap: variables.$spacing-small;

            @include mixins.tablet {
                margin-left: variables.$spacing-tablet;
                margin-right: variables.$spacing-tablet;
                padding: variables.$spacing-tablet;
            }

            @include mixins.mobile {
                margin-left: variables.$spacing-mobile;
                margin-right: variables.$spacing-mobile;
                padding: variables.$spacing-mobile;
            }

            .generator__slider-min, .generator__slider-max {
                @include mixins.text(variables.$font-size, variables.$font-color);

                @include mixins.tablet {
                    font-size: variables.$font-size-tablet;
                }

                @include mixins.mobile {
                    font-size: variables.$font-size-mobile;
                }
            }

            .generator__slider {
                -webkit-appearance: none;
                appearance: none;
                background: transparent;
                width: 100%;

                &::-webkit-slider-runnable-track {
                    background: #757575;
                    height: 5px;
                }

                &::-webkit-slider-thumb {
                   -webkit-appearance: none;
                    appearance: none;
                    background: #fff;
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    margin-top: -0.625rem;
                    cursor: pointer;
                }      
            }
        }

        &__options {
            display: flex;
            flex-direction: column;
            gap: variables.$spacing-small;
            
            .generator__option {
                @include mixins.card(variables.$accent, variables.$spacing, variables.$border-radius);
                @include mixins.text(variables.$font-size, variables.$font-color);
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;
                cursor: pointer;

                @include mixins.tablet {
                    font-size: variables.$font-size-tablet;
                    margin-left: variables.$spacing-tablet;
                    margin-right: variables.$spacing-tablet;
                    padding: variables.$spacing-tablet;
                }

                @include mixins.mobile {
                    font-size: variables.$font-size-mobile;
                    margin-left: variables.$spacing-mobile;
                    margin-right: variables.$spacing-mobile;
                    padding: variables.$spacing-mobile;
                }

                .generator__checkbox {
                    position: absolute;
                    opacity: 0;
                    width: 0;
                    height: 0;
                }

                &::before {
                    content: '';
                    width: 3.5rem;
                    height: 2rem;
                    background-color: #ccc;
                    border-radius: 1rem;
                    transition: background-color 0.3s ease;
                    order: 2;
                }

                &::after {
                    content: '';
                    position: absolute;
                    right: 2.5rem;
                    width: 1.7rem;
                    height: 1.7rem;
                    background-color: white;
                    border-radius: 50%;
                    transition: transform 0.3s ease;
                    order: 3;
                }
                
                &:has(.generator__checkbox:checked)::before {
                    background-color: #5d68e2;
                }

                &:has(.generator__checkbox:checked)::after {
                    transform: translateX(1.3rem);
                }
            }
        }

        &__button {
            @include mixins.button(
                variables.$font-size, 
                variables.$font-color, 
                variables.$border-radius, 
                variables.$button-color, 
                variables.$spacing, 
                variables.$button-hover
            );

            @include mixins.tablet {
                font-size: variables.$font-size-tablet;
            }

            @include mixins.mobile {
                font-size: variables.$font-size-mobile;
            }
        }
    }

    .toast {
        position: fixed;
        background-color: variables.$accent;
        border-radius: variables.$border-radius;
        padding: 10px;
        font-size: 16px;
        color: #92fb13;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: 0.3s ease;
        z-index: 1000;
    }

    .toast.show {
        opacity: 1;
    }
}